{% load static %}
{% block additional_css %}
<link href="{% static 'css/home_page.css' %}" rel="stylesheet">
{% endblock additional_css %}


<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #2d2c38">
    <a class="navbar-brand" href="{% url 'home' %}">AskSerbin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="d-flex justify-content-between w-100">
            <div class="ml-auto">
                <form class="form-inline mt-2">
                    <input class="form-control ml-5 mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn1 ml-1 my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="nav-item mr-4 mt-2 ml-auto mr-5">
                <a href="{% url 'ask' %}" class="btn btn1 my-2 my-sm-0">Ask</a>
            </div>
            <div class="w-auto d-flex flex-row mr-5">
                <div>
                    <img class="avatar-img" src="{% static 'img/avatar.jpg' %}" alt="">
                </div>
                <div class="nav-item dropdown mt-2 mr-5">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu settingsHeader rounded-top" aria-labelledby="navbarDropdown">
                        {% if True %}
                            <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
