{% load static %}
{% block additional_css %}
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock additional_css %}

<div class="col-3 sidebar">
    <div class="popular-tags">
        <h3 style="margin-top: 10px">Popular Tags</h3>
        <hr>
        <ul>
            {% for tag in all_tags %}
                <li><a href="{% url 'tag' tag.tag %}" class="sidebar-link" style="color: darkgrey">{{ tag.tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="members">
        <h3>Best Members</h3>
        <hr>
        <ul>
            {% for person in best_members %}
                <li><a href="#" class="sidebar-link" style="color: darkgrey">{{ person.nickname }}| Score: {{ person.score }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
