{% load static %}
{% block additional_css %}
<link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock additional_css %}

<div class="col-2 sidebar" >
    <div class="popular-tags" >
        <h3>Popular Tags</h3>
        <hr>
        <ul>
            {% for tag in tags %}
            <li><a href="{% url 'tag' tag %}" class="sidebar-link" style="color: darkgrey">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="members">
        <h3>Best Members</h3>
        <hr>
        <ul>
            <li><a href="#" class="sidebar-link" style="color: darkgrey">Member 1</a></li>
            <li><a href="#" class="sidebar-link" style="color: darkgrey">Member 2</a></li>
            <li><a href="#" class="sidebar-link" style="color: darkgrey">Member 3</a></li>
        </ul>
    </div>
</div>
