main {
    min-height: 100vh;
}


code {
    font-size: 100%;
}

.questions-href > li {
    display: inline;
}

.question-box {
    margin-top: 8%;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 10px;
}

.card-img {
    margin-top: 25px;
    max-width: 200px;
    max-height: 200px;
}

.answer-score {
    padding: 1em 1em 1em 1em;
}

.btn-outline-primary {
    margin: 1em 1em 1em 1em;
}

.btn1 {
    color: #fefefe;
    background-color: #3763f4;
    border-color: #3763f4;
}

.btn2 {
    color: #fefefe;
    background-color: #a71d2a;
    border-color: #a71d2a;
}

.btn1:hover {
    color: whitesmoke;
    background-color: #3763c0;
    border-color: whitesmoke;
}

.btn2:hover {
    color: whitesmoke;
    background-color: #a71d2a;
    border-color: whitesmoke;
}

.btn1:active, .btn-ask:active {
    color: whitesmoke;
    background-color: #3763c0;
    border-color: whitesmoke;
}

.btn2:active {
    color: whitesmoke;
    background-color: #a71d2a;
    border-color: whitesmoke;
}

.btn-ask {
    color: #fefefe;
    background-color: #3763f4;
    border-color: #3763f4;
}

.btn-ask:hover {
    color: #fefefe;
    background-color: #3763c0;
    border-color: #3763c0;
}

.btn1 {
    margin: 0 0.3em 0 0.5em
}

.btn2 {
    margin: 0 0.5em 0 0.3em
}

.question-title {
    font-size: 20px;
    font-weight: bold;
}

.user-block {
    margin-right: 0px;
    color: whitesmoke;
}

a {
    color: #005cbf;
}

.settingsHeader {
    background-color: #2d2c38;
    border: 1px solid #2d2c38;
    border-radius: 20px;
    color: white;
    padding: 20px;
}

.errorStyle {
    background-color: red;
    border: 1px solid red;
    border-radius: 20px;
    color: white;
    padding: 20px;
}