.like-score {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0em;
    background-color: #1c7430;
    color: #ffffff;
    border-radius: 5px;
    margin: 0;
}

.like-score h4 {
    width: 100%;
    margin: 0;
    text-align: center;
}

.scores {
    width: inherit;
    padding: 0 1em 0 1em;
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
