{% extends 'include/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link href="{% static 'css/home_page.css' %}" rel="stylesheet">
{% endblock additional_css %}

{% block content %}
<h3 class="mt-5 settingsHeader">Log In</h3>
<form class="settingsHeader" action="{% url 'login' %}" method="POST" novalidate>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form show_label=False %}

    {% buttons %}
    <button type="submit" class="btn btn-success">Login</button>
    {% endbuttons %}

</form>
<div class="text-center w-100 mt-5 settingsHeader">
    <a href="{% url 'register' %}">create new account</a>
</div>
{% endblock content %}
