{% extends 'include/base.html' %}

{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock additional_css %}

{% block content %}
    <h3 class="mt-5 settingsHeader">Log In</h3>

    <div class="jumbotron jumbotron-fluid bg-error errorStyle">
        <div class="container">
            <ul>
                {% for e in errors %}
                    <li>
                        <div class="text-center">{{ e }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <form class="settingsHeader" method="POST" enctype="multipart/form-data">
        <div class="form-group row g-3 align-items-center">
            <div class="col-auto">
                <label for="login">Login</label>
            </div>
            <div class="col-auto ml-5">
                <input type="text" class="form-control" id="login" name="login" placeholder="Login">
            </div>
        </div>
        <div class="form-group row g-3 align-items-center">
            <div class="col-auto">
                <label for="password">Password</label>
            </div>
            <div class="col-auto ml-3">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn btn-success btn1 ">Login</button>

        <a href="{% url 'register' %}" class="btn btn1 my-2 my-sm-0">create new account</a>

    </form>
{% endblock content %}
