{% extends 'include/base.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/score.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock additional_css %}

{% block content %}
    <div class="justify-content-center row d-inline-flex text-center mt-5 ml-1"
         style="background-color: #2d2c38; border-color: #2d2c38;
          padding: 1%; border-radius: 20px;">
        <h4 class="my-4" style="color: white">New questions
            <small><a href="{% url 'hot' %}" style="color: darkgrey">Hot questions</a></small>
        </h4>
    </div>
    {% for q in content %}
        {% include 'include/question.html' with question=q %}
    {% endfor %}
    {% include 'include/pagination.html' %}
{% endblock content %}