{% extends 'include/base.html' %}

{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock additional_css %}

{% block content %}

    <h1 class="mt-5 settingsHeader">Registration</h1>
    <form class="settingsHeader" method="POST" enctype="multipart/form-data">
        <div class="form-group row g-3 align-items-center">
            <div class="col-2">
                <label for="login">Login</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" id="login" name="login" placeholder="Login">
            </div>
        </div>
        <div class="form-group row g-3 align-items-center">
            <div class="col-2">
                <label for="email">Email</label>
            </div>
            <div class="col-5">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group row g-3 align-items-center">
            <div class="col-2">
                <label for="nickname">NickName</label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" id="nickname" name="nickname" placeholder="NickName">
            </div>
        </div>
        <div class="form-group row g-3 align-items-center">
            <div class="col-2">
                <label for="password">Password</label>
            </div>
            <div class="col-5">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group row g-3 align-items-center">
            <div class="col-2">
                <label for="repeat-password">Repeat Password</label>
            </div>
            <div class="col-5">
                <input type="repeat-password" class="form-control" name="repeat-password" id="repeat-password"
                       placeholder="Repeat Password">
            </div>
        </div>


        <div class="input-group my-3 row g-3 align-items-center">
            <div class="col-2">
                <div class="input-group-prepend">
                    <label for="avatar">Avatar</label>
                </div>
            </div>
            <div class="col-5 ml-3">
                <div class="custom-file">
                    <input class="custom-file-input" type="file" name="avatar" id="avatar">
                    <label class="custom-file-label" for="avatar">Choose file</label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn1">Register</button>
    </form>
{% endblock content %}
