{% extends 'include/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<link rel="stylesheet" href="{% static 'css/firstPage.css' %}">
{% endblock additional_css %}

{% block content %}

<h1 class="mt-5 settingsHeader">Registration</h1>
<form class="settingsHeader" action="{% url 'register' %}" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    {% bootstrap_form form %}

    {% buttons %}
    <button type="submit" class="btn btn-primary btn-ask">Register</button>
    {% endbuttons %}
</form>
{% endblock content %}