{% extends 'include/base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" href="{% static 'css/score.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="container text-left mt-3">
  <h3 style="color: white">#{{ tag }}</h3>
</div>
{% for q in content %}
{% include 'include/question.html' with question=q %}
{% endfor %}
{% include 'include/pagination.html' %}
{% endblock content %}
